[Desktop Entry]
Version=1.0
Type=Link
Name=HTML elements reference - HTML: HyperText Markup Language | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Web/HTML/Element
