[Desktop Entry]
Version=1.0
Type=Link
Name=JavaScript reference - JavaScript | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference
